<%- include("partial/initial/"); %>
<form class="form" action="/signreg" method="post">
    <div class= "form-group">
<button class="btn btn-primary" type="submit" name="Register">Register</button></div>
</form>
<form class="form" action="/log" method="post">
<button class="btn btn-primary" type="submit" name="login" >Login</button>
</form>

<%- include("partial/footer/"); %>
  
